@charset "utf-8";

.header-content {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f0f5f9;
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: block;
    width: 50px;
}
.header-social-icon {
    display: block;
    width: 40px;
}
.header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header-nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}