<div class="header-content">
    <div class="header-logo">
        <img class="logo" src="assets\logo.svg" alt="logo">
        <p class="header-title">KOKUBA's Portfolio</p>
    </div>
    <!-- <a href="https://github.com/koske598" target="_blank"><img src="assets\github.svg" alt="github" class="header-social-icon"></a>
    <a href="https://www.linkedin.com/in/%E5%B9%B8%E8%BC%94-%E5%9C%8B%E5%A0%B4-98791a367/" target="_blank"><img src="assets\LI-In-Bug.png" alt="linkedin" class="header-social"></a> -->
    <div class="header-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>